@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: azure;
}

header {
    background: #1E3A8A;
    text-align: center;
    padding: 50px 20px;
}

header * {
    background: transparent;
}

.title {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    letter-spacing: 3.2px;
    color: white;
    text-shadow: 2px 1px 6px rgba(0, 0, 139, .763);
    margin-bottom: 12px;
}

.sub {
    font-family: 'Great Vibes';
    font-size: 30px;
    letter-spacing: 7px;
    color: rgb(205, 226, 226);
}

section {
    padding: 40px 0;
}

.category,
.categoryf {
    width: 75%;
    margin: auto;
}

.categoryTitle {
    font-family: "Rowdies", sans-serif;
    color: #1E3A8A;
    font-size: 34px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.categ {
    background: white;
    border-radius: 12px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .12);
    padding: 30px;
}

.categ * {
    background: transparent;
}

.videoRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.introduction{
    line-height: 1.7;
    flex: 1;
    font-family: "Nunito", sans-serif;
    color: rgba(23, 22, 22, 0.889);
    font-weight: bold;
}
.introductionf{
    color: #292727;
    font-weight: 640;
    font-family: "Nunito", sans-serif;
    line-height: 1.7;
    margin-bottom: 20px;
    font-size: 0.9rem;
}
iframe {
    border-radius: 8px;
    box-shadow: 3px 3px 12px rgba(27, 44, 84, .874);
    transition: .3s;
    cursor: pointer;
}

iframe:hover {
    transform: scale(1.02);
}

.shortVid {
    width: 300px;
    height: 470px;
    margin-right: 80px;
}

.divider {
    margin: 35px 0;
    border: none;
    border-top: 1px solid #ddd;
}

footer {
    background: #1E3A8A;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 50px;
}

footer * {
    background: transparent;
}

.mail {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1.5px;
    font-weight: bold;
}

.line {
    margin: 15px 0 25px;
}

.spacer {
    margin-top: 20px;
    height: 22px;
    background-color: azure;
}

.categf {
    background: #fff;
    border-radius: 20px;
    padding: 35px 40px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;

    box-shadow: 0 15px 35px rgba(0, 0, 0, .15);
}

.aboutSide {
    flex: 1;
}

.abtmetitle {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #3949AB;
}

.sect {
    flex: 1;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin-top: 20px;
}

.skill {
    background: #fff;
    border: 2px solid #ececec;
    border-radius: 15px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    transition: .3s;

    box-shadow: 0 8px 18px rgba(0, 0, 0, .08);
}

.skill:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(86, 106, 255, 0.18);
}

.skill img {
    width: 65px;
    height: 65px;
    object-fit: contain;
    margin-bottom: 15px;
}

.skill span {
    font-size: .95rem;
    font-weight: 600;
    color: #333;
}